patient-allergy {
    .buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        button {
            font-size: 1.4rem !important;
            color: $accent;
        }
    }
    >div {
        margin-bottom: 10%;
    }
    .allergy-list {
        min-height: 100px;
        padding: 0px 5px;
        overflow-y: auto;
        height: 120px;
        .allergy {
            font-size: 14px;
            height: auto;
            display: flex;
            justify-content: space-between;
            line-height: 25px;
            margin: 14px 0;
            ion-icon {
                font-size: 24px;
            }
            border-bottom: 2px;
            border-bottom-style: solid;
        }
    }
}