<div class="patient-allergy">
    <div class="allergy-list">
        <div class="allergy"  *ngFor="let allergy of model;let idx=index">
            <div>
                {{allergy?.description}}
            </div>
            <ion-icon name="close" (click)="removeItem($event,allergy)" color="accent-dark"></ion-icon>
        </div>
    </div>
    <div text-right class="buttons">
        <button ion-button clear (click)="addAllergy($event)"><ion-icon name="add" color="accent"></ion-icon>Add Allergy</button>
    </div>
</div>