<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons start>
            <button ion-button icon-only navPop><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
        <ion-title>
            Reset Password
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content #Content padding>
    <form [formGroup]="forgotPasswordForm" #form="ngForm">
        <div class="row form-group">
            <ion-grid>
                <ion-row>
                    <ion-col col-12 col-sm-12 col-md-12>
                        <ion-label class="form-label">Username *</ion-label>
                        <ion-item round>
                            <ion-input name="username" formControlName="username"></ion-input>
                        </ion-item>
                        <div class="error-message" *ngIf="forgotPasswordForm.get('username')?.dirty && forgotPasswordForm.get('username').invalid">
                            {{ errors.username }}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </form>
</ion-content>