<ion-searchbar [(ngModel)]="name" (ionInput)="search($event)" [debounce]="2000" placeholder="Name"></ion-searchbar>
<content-with-loading [isLoading]="isLoading | async">
    <div *ngIf="patients && patients.length > 0 && hasValidInput">
        <ion-list>
            <ion-item *ngFor="let patient of patients;let i=index">
                <ion-avatar item-left>
                    <!--<img src="{{ user.img }}">-->
                    <div>
                        {{ getDefaultAvatar(patient) }}
                    </div>
                </ion-avatar>
                <h3>{{ i + 1 }}. {{ getFullName(patient) }}</h3>
                <div item-right>
                    <button ion-button clear item-end color="accent" (click)="queue(patient)">Queue</button>
                    <button ion-button clear item-end color="accent" (click)="view(patient)">View</button>
                </div>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="doInfiniteSearch($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

    <div class="speil" text-center *ngIf="patients && patients.length === 0 && hasValidInput">
        No Patient(s) found
    </div>

    <div class="speil" text-center *ngIf="!hasValidInput">
        Name should have atleast 2 characters
    </div>
</content-with-loading>