login-page{
	ion-content{
	    background: url("../assets/img/bg.jpg");
	    background-repeat: no-repeat;
	    background-position: left;
	    background-size: cover;
		.scroll-content{
		padding: 10%;

			.logo{
				width: 60%;
				height: auto;
				max-width: 150px;
			}

			ion-list{
				margin: 50px 0px;
				hr {
					background-color: rgba(255,255,255,0.8);
				}
			}

			ion-label {
				color: $light;
			}

			ion-label.form-action-link {
				color: $accent-dark;
				text-align: right;
				text-decoration: underline;
			}

			xhr-button button {
				box-shadow: 2px 2px 8px rgba(0,0,0,0.8);
			}

			.size-container{
				max-width: 450px;
				margin: auto;
			}

			.flex-box{
				display: flex;
				flex-direction: column;
				height: 100%;
				.header{
					flex: 1;
				}
				.content{
					flex: 5;
				}
			}

			.form-gap{
				height: 10%;
				max-height: 30px;
			}
		}
	}
}