login-page{
	ion-content{
	    background: url("../assets/img/bg.jpg");
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
		.scroll-content{
		padding: 50px;
	   
			.logo{
				width: 60%;
				height: auto;
			}
			ion-list{
				margin: 50px 0px;
				hr {
					background-color: rgba(255,255,255,0.8);
				}
			}
			ion-label{
				color: $light;
			}
			xhr-button button {
				box-shadow: 2px 2px 8px rgba(0,0,0,0.8);
			}
		}
	}
}