patient-relationship-page {
    
    ion-icon {
        font-size: 28px;
    }
    
    .row-icon {
        ms-transform: translateY(-33%);
        -o-transform: translateY(-33%);
        -webkit-transform: translateY(-33%);
        position: absolute;
        top: 60%;
        transform: translateY(-33%);
    }
}