<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            {{ pageHeader }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content #Content padding>
    <form [formGroup]="pRelForm" #form="ngForm" (ngSubmit)="xhr.submit($event)">
        <ion-grid>
            <ion-row>
                <ion-col col-12 col-sm-6 col-md-6>
                    <ion-label class="form-label">Doctor *</ion-label>
                    <ion-item round>
                        <ion-input name="doctorName" formControlName="doctorName" (click)="searchUser()"></ion-input>
                    </ion-item>
                    <div class="error-message" *ngIf="doctorName.dirty &&  doctorName.invalid">
                        {{ errors.doctorId }}
                    </div>
                </ion-col>
                <ion-col col-12 col-sm-6 col-md-4>
                    <ion-label class="form-label">Relationship Type *</ion-label>
                    <ion-item clean>
                        <ion-select class="options" name="relationship" formControlName="relationship" [disabled]="true">
                            <ion-option *ngFor="let relationship of relationships; let i = index" [value]="i">{{ relationship }}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div class="error-message" *ngIf="relationship.dirty &&  relationship.invalid">
                        {{ errors.relationship }}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-11 col-sm-6 col-md-3>
                    <ion-label class="form-label">Expiry Date</ion-label>
                    <ion-item clean>
                        <ion-datetime name="expiry" formControlName="expiry" [min]="getMinDate()">
                        </ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col col-1 col-sm-1 col-md-1>
                    <ion-icon name="close" class="row-icon" *ngIf="expiry.value" (click)="clearDate(expiry)" color="accent-dark"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div text-center>
            <xhr-button #xhr round large color="accent" type="submit" [disabled]="pRelForm.pristine || form.pristine" (xhrClick)="submitForm($event)">
                Submit
            </xhr-button>
        </div>
    </form>
</ion-content>