tabs{
	ion-menu .scroll-content{
		background: $primary-light;
		button{
			ion-icon{
				margin-right: 5px;
			}
		}
	}
	.tabbar{
		background: $primary-light !important;
	}
	.side-menu-header{
		display: flex;
		.img-container{
			padding: 20px;
			img{
				height: 80px;
				border-radius: 50%;
			}
		}
		.account-detail{
			flex:1;
		}
	}

}