tabs{
	ion-menu .scroll-content{
		background: $primary-light;
		button{
			ion-icon{
				margin-right: 5px;
			}
		}
	}
	.tabbar{
		background: $primary-light !important;
	}
	.img-container{
		padding: 5px;
		img{
			height: 150px;
			width: auto;
		border-radius: 20px;

		}
	}

}