<ion-menu [content]="sideMenu">
  <ion-content>
      <div class="side-menu-header">
        <div class="img-container">
          <img [src]="profilepic" *ngIf="profilepic">
          <!-- <img src="assets/img/d.png" *ngIf="!profilepic"> -->
          <img src="https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.0-9/12047124_1099145466764079_5389063160710416011_n.jpg?oh=2306011eba67355fe55d63c70ab2417d&oe=59B73D14" *ngIf="!profilepic">
        </div>
        <div class="account-detail">
          <h4>{{userDetails?.lastname}}, {{userDetails?.firstname}} {{userDetails?.middlename}}</h4>
          <p>@{{account?.username}}</p>
        </div>
      </div>
      <div (click)="openManager()" class="clinic-detail" text-left>
        <div class="clinic-detail-content">
          <h5>{{clinic.clinicName}}</h5>
          <p>{{clinic.address}}</p>
        </div>
        <ion-icon name="ios-arrow-down"></ion-icon>
      </div>
    <ion-list>
      <ion-item-group>
        <button ion-item (click)="openProfile()">
          <ion-icon name="contact"></ion-icon>
          Edit Account
        </button>
        <button ion-item (click)="openClinicManager()">
          <ion-icon name="folder-open"></ion-icon>
          Manage Clinics 
        </button>
      </ion-item-group>
        <button ion-item (click)="openManager()">
          <ion-icon name="cog"></ion-icon>
          Settings
        </button>
        <button ion-item (click)="logout()">
        <ion-icon name="exit"></ion-icon>
          Log-out
        </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-tabs #sideMenu>
  <ion-tab [root]="notification" tabTitle="Notifications" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="schedule" tabTitle="Schedule" tabIcon="time" color="accent-dark"></ion-tab>
  <ion-tab [root]="patient" tabTitle="Patient" tabIcon="body" color="accent-dark"></ion-tab>
  <ion-tab [root]="chat" tabTitle="Chat" tabIcon="chatbubbles" color="accent-dark"></ion-tab>
</ion-tabs>