<div class="patient-medication">
    <div class="medication-list">
        <div class="medication" *ngFor="let medication of model;let idx=index">
            <div>
                <h2>{{medication?.startDate | date:"MMM dd"}}</h2>
                <p>
                    {{medication?.description}}
                </p>
            </div>
            <ion-icon name="close" (click)="removeItem($event,medication, idx)" color="accent-dark"></ion-icon>
        </div>
    </div>
    <div text-right class="buttons">
        <button ion-button clear (click)="addMedication($event)"><ion-icon name="add" color="accent"></ion-icon>Add Medication</button>
    </div>
</div>