<ion-content>
    <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
        <ion-list>
            <div class="row form-group">
                <ion-item field>
                    <ion-label in-line>Last Name:</ion-label>
                    <ion-input formControlName="lastName"></ion-input>
                </ion-item>
            </div>
            <div class="error-message" *ngIf="profileForm.get('lastName').invalid">
                {{ errors.lastName }}
            </div>
            <div class="row form-group">
                <ion-item field>
                    <ion-label in-line>First Name:</ion-label>
                    <ion-input formControlName="firstName"></ion-input>
                </ion-item>
            </div>
            <div class="error-message" *ngIf="profileForm.get('firstName').invalid">
                {{ errors.firstName }}
            </div>
            <div class="row form-group">
                <ion-item field>
                    <ion-label in-line>Middle Name:</ion-label>
                    <ion-input formControlName="middleName"></ion-input>
                </ion-item>
            </div>            
            <div class="row form-group">
                <ion-item field>
                    <ion-label in-line>Birth Date:</ion-label>
                    <ion-input type="date" formControlName="birthDate"></ion-input>
                </ion-item>
            </div>
            <div class="error-message" *ngIf="profileForm.get('birthDate').invalid">
                {{ errors.birthDate }}
            </div>
            <div class="row form-group">
                <ion-item field>
                    <ion-label in-line>Gender:</ion-label>
                    <!-- <button ion-button icon-only>
					<ion-icon name="male"></ion-icon>
                    </button>
                    <button ion-button icon-only>
                        <ion-icon name="female"></ion-icon>
                    </button> -->
                    <ion-select formControlName="gender">
                        <ion-option value="M">
                            <ion-icon name="male"></ion-icon>Male</ion-option>
                        <ion-option value="F">
                            <ion-icon name="female"></ion-icon>Female</ion-option>
                    </ion-select>
                </ion-item>
            </div>
            <div class="error-message" *ngIf="profileForm.get('gender').invalid">
                {{ errors.gender }}
            </div>
            <div class="row form-group">
                <ion-item field>
                    <ion-label in-line>Address:</ion-label>
                    <ion-input formControlName="address"></ion-input>
                </ion-item>
            </div>
            <div class="error-message" *ngIf="profileForm.get('address').invalid">
                {{ errors.address }}
            </div>
            <div class="row form-group">
                <ion-item field>
                    <ion-label in-line>Contact No:</ion-label>
                    <ion-input formControlName="contactNo"></ion-input>
                </ion-item>
            </div>
            <div class="error-message" *ngIf="profileForm.get('contactNo').invalid">
                {{ errors.contactNo }}
            </div>
        </ion-list>
        <button type="submit" ion-button round large color="accent" [disabled]="profileForm.invalid"> Submit </button>
    </form>
</ion-content>