<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons start>
            <button ion-button icon-only navPop><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
        <ion-title>
            Edit Access Role
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content #Content padding>
    <form [formGroup]="accessForm" #form="ngForm">
        <div class="row form-group">
            <ion-grid>
                <ion-row>
                    <ion-col col-6 col-sm-6 col-md-6>
                        <ion-label class="form-label">Access Role</ion-label>
                        <ion-item clean>
                            <ion-select class="options" name="accessRole" formControlName="accessRole">
                                <ion-option *ngFor="let accessRole of accessRoles; let i = index" [value]="i + 1">{{ accessRole }}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6 col-sm-6 col-md-6>
                        <ion-label class="form-label">Expiry Date</ion-label>
                        <ion-item clean>
                            <ion-datetime name="roleExpiryDate" formControlName="roleExpiryDate" [min]="getMinDate()">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </form>
</ion-content>