chat-page{
	.scroll-content{
		display: flex;
		flex-direction: column-reverse;
	}

	.form-inline{
		display: flex;
		textarea{
			background: $light;
		    background: white;
		    margin: 5px;
		    border-radius: 3px;
		    height: auto;
		    padding: 8px;
		    line-height: 15px;
		    vertical-align: text-bottom;
		}
		.button{
			width: 42px;
			height: initial;
		}
	}

	.chat-me, .chat-other{
		width: 70%;
	}

	.chat-me{
		background: $secondary;
		float: right;
		ion-item {
			background: $secondary;
		}
	}
	.chat-other{
		background: $secondary-light;
		float: left;
		ion-item {
			background: $secondary-light;
		}
	}
}