chat-page{
	.scroll-content{
		display: flex;
		flex-direction: column-reverse;
	}

	.form-inline{
		display: flex;
		ion-input{
			background: $light;
		}
		.button{
			width: 42px;
		}
	}

	.chat-me, .chat-other{
		width: 70%;
	}

	.chat-me{
		background: $secondary;
		float: right;
		ion-item {
			background: $secondary;
		}
	}
	.chat-other{
		background: $secondary-light;
		float: left;
		ion-item {
			background: $secondary-light;
		}
	}
}