// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$grid : 10 20 25 33 50 67 80 90 100;
$grid-padding-width: 0px;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default col
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$primary: #212121;
$primary-light: #616161;
$secondary: #E0E0E0;
$secondary-light: #FAFAFA;
$accent-dark: #FFAB00;
$accent: #FFC400;
$accent-light: #FFE57F;
$dark: #000000;
$light: #FFFFFF;
$danger: #F44336;

$away: #E57373;
$serving: #FFF176;
$queued: #64B5F6;
$done: #AED581;

$colors: (
  primary:    $primary,
  primary-light: $primary-light,
  secondary:  $secondary,
  secondary-light: $secondary-light,
  accent-dark: $accent-dark,
  accent: $accent,
  accent-light: $accent-light,
  danger:     $danger,
  light:      $light,
  dark:       $dark,
  away: $away,
  serving: $serving,
  queued: $queued,
  done : $done
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
//TABS
$tabs-ios-tab-icon-color: $accent-light;
$tabs-ios-tab-icon-color-active : $accent;
$tabs-ios-tab-text-color-active: $accent;
$tabs-ios-tab-text-color: $accent-light;
$loading-ios-background: rgba(0,0,0,0);
$loading-ios-spinner-color: $light;
$loading-ios-text-color: $light;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
//TABS
$tabs-md-tab-icon-color-active: $accent;
$tabs-md-tab-icon-color: $accent-light;
$tabs-md-tab-text-color-active: $accent;
$tabs-md-tab-text-color: $accent-light;
$loading-md-background: rgba(0,0,0,0);
$loading-md-spinner-color: $light;
$loading-md-text-color : $light;
$loading-md-box-shadow-color: none;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
// $modal-inset-width : 100%;
// $modal-inset-height-large : 100%;

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// SIZE
// --------------------------------------------------
$h1: 14pt;
$h2: 13pt;
$h3: 12pt;