<div class="patient-condition">
    <div class="condition-list">
        <div class="condition" *ngFor="let condition of model;let idx=index">
            <div>
                <h2>{{condition?.diagnosed | date:"MMM dd"}}</h2>
                <p>
                    {{condition?.description}}
                </p>
            </div>
            <ion-icon name="close" (click)="removeItem($event,condition, idx)" color="accent-dark"></ion-icon>
        </div>
    </div>
    <div text-right class="buttons">
        <button ion-button clear (click)="addCondition($event)"><ion-icon name="add" color="accent"></ion-icon>Add Condition</button>
    </div>
</div>