<div>
    <ion-list>
        <ion-item class="condition" *ngFor="let condition of conditions.value;let idx=index">
            <div>
                {{condition?.description}}
            </div>
            <div item-right>
                <ion-icon name="close" (click)="removeItem($event,condition, idx)" color="accent-dark"></ion-icon>
            </div>
        </ion-item>
    </ion-list>
    <div text-right class="buttons">
        <button ion-button clear (click)="addCondition($event)"><ion-icon name="add" color="accent"></ion-icon>Add Condition</button>
    </div>
</div>