<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only navPop><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
        <ion-title>
            {{ mode }} Schedule
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="modal-form">
        <form [formGroup]="scheduleForm" #form="ngForm" (ngSubmit)="save()">
            <ion-list>
                <div class="form-group">
                    <ion-label class="form-label h1">Day *</ion-label>
                    <ion-item round>
                        <ion-select class="options" name="day" formControlName="day">
                            <ion-option *ngFor="let day of days; let i = index" [value]="i">{{ day }}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div class="error-message" *ngIf="scheduleForm.get('day').dirty &&  scheduleForm.get('day').invalid">
                        {{ errors.day }}
                    </div>
                    <ion-label class="form-label h1">From *</ion-label>
                    <ion-item round>
                        <ion-datetime displayFormat="h:mm a" pickerFormat="h:mm a" name="from" formControlName="from"></ion-datetime>
                    </ion-item>
                    <div class="error-message" *ngIf="scheduleForm.get('from').dirty && scheduleForm.get('from').invalid">
                        {{ errors.from }}
                    </div>
                    <ion-label class="form-label h1">To *</ion-label>
                    <ion-item round>
                        <ion-datetime displayFormat="h:mm a" pickerFormat="h:mm a" name="to" formControlName="to"></ion-datetime>
                    </ion-item>
                    <div class="error-message" *ngIf="scheduleForm.get('to').dirty && scheduleForm.get('to').invalid">
                        {{ errors.to }}
                    </div>
                </div>
            </ion-list>
        </form>
    </div>
</ion-content>