<ion-header>
    <ion-navbar color="secondary">
        <ion-buttons start>
            <button ion-button icon-only navPop><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
        <ion-title>
            Add Schedule
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content #Content padding>
    <form [formGroup]="scheduleForm" #form="ngForm" (ngSubmit)="save()">
        <ion-grid>
            <ion-row>
                <ion-col col-4 col-sm-4 col-md-4>
                    <ion-label class="form-label">Day of Week *</ion-label>
                    <ion-item clean>
                        <ion-select class="options" name="day" formControlName="day">
                            <ion-option *ngFor="let day of days; let i = index" [value]="i">{{ day }}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div class="error-message" *ngIf="day.dirty &&  day.invalid">
                        {{ errors.day }}
                    </div>
                </ion-col>
                <ion-col col-4 col-sm-4 col-md-4>
                    <ion-label class="form-label">From *</ion-label>
                    <ion-item clean>
                        <ion-datetime displayFormat="hh:mm a" pickerFormat="hh:mm a" name="from" formControlName="from"></ion-datetime>
                    </ion-item>
                    <div class="error-message" *ngIf="from.dirty && from.invalid">
                        {{ errors.from }}
                    </div>
                </ion-col>
                <ion-col col-4 col-sm-4 col-md-4>
                    <ion-label class="form-label">To *</ion-label>
                    <ion-item clean>
                        <ion-datetime displayFormat="hh:mm a" pickerFormat="hh:mm a" name="to" formControlName="to"></ion-datetime>
                    </ion-item>
                    <div class="error-message" *ngIf="to.dirty && to.invalid">
                        {{ errors.to }}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>