// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$grid : 10 20 25 33 50 67 80 90 100;

@media all and (min-device-width: 768px){
	@each $width in $grid{
		ion-col[width-md-#{$width}]{
			flex: #{$width}% !important;
		}
	}

	ion-col[width-md-0]{
		display: none;		
	}
}

//
// @each $color in map-keys($colors){
// 	h3[color="#{$color}"]{
// 		color: map-get($colors,$color);
// 	}
// }


ion-header.minimize{
	p{
		display: none;
		transition: all 0.3s
	}
	ion-avatar{
		display: none;
		transition: all 0.3s
	}
	h1{
		font-size: .9em;
		transition: all 0.3s
	}
	ion-col{
		padding-top: 0;
		padding-bottom: 0;
		transition: all 0.3s
		button{
			marign:0;
		}
	}
}
ion-content.minimize{
	.scroll-content{
		transition: all 0.3s;
	}
}


ion-content{
	.scroll-content{
		transition: all 0.3s;
	}
}