// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@media all and (min-device-width: 768px){
	@each $width in $grid{
		ion-col[width-md-#{$width}]{
			flex: #{$width}% !important;
		}
	}

	ion-col[width-md-0]{
		display: none;		
	}
}


@each $color in map-keys($colors){
	ion-col[color="#{$color}"]{
		background-color: map-get($colors,$color);
	}
}



ion-content{
	.scroll-content{
		transition: all 0.3s;
	}

	.h1 {
		text-align: left;
		font-size: $h1;
		font-weight: bold;
		margin: 0px;
	}

	// Rounded Ion-Inputs
	ion-item.item-input[round] {
		display: inline-block;
		border: 1px solid $primary-light !important;
		box-shadow: none !important;
		-webkit-border-radius: 4.4em !important;
		border-radius: 4.4rem !important;
		height: 35px !important;
		min-height: 35px !important;
		padding-left: 8px;

		button {
			border-radius: 4.4rem !important;
		}

		ion-label {
			display: none;
		}

		.select-icon-inner {
			color: transparent !important;
		}

		.item-inner {
			box-shadow: none !important;
			border: none !important;
		}

		input.text-input-ios,
		textarea.text-input-ios {
			padding: 0px 5px 0px 5px;
			margin: 0px 8px 0px 8px;
		}

		input.text-input-md,
		textarea.tetext-input-mdxt {
			margin: 0px 8px 0px 8px;
		}
	}

	// Rounded Ion-TextArea
	ion-item.item-textarea[round], {
		display: inline-block;
		height: 60pt !important;
		min-height: 60pt !important;
		-webkit-border-radius: 15px !important;
		border-radius: 15px !important;
		box-shadow: none !important;

		textarea {
			height: 41pt !important;
			min-height: 41pt !important;
		}
	}

	// Invalid Rounded Inputs that are not dirty, invalid and not disabled
	ion-item.item-input[round]:not(.ng-dirty).ng-invalid:not(.item-input-disabled) {
		display: inline-block;
		border: 1px solid $primary-light !important;
	}

	// Invalid Rounded Inputs that are invalid and not disabled
	ion-item.item-input[round].ng-invalid:not(.item-input-disabled) {
		display: inline-block;
		border: 1px solid $danger !important;
	}

	// Disabled Rounded Ion-Input and Ion-TextArea
	ion-item.item-input-disabled[round] {	
		display: inline-block;
		border: 1px solid $primary-light;
		background-color: $secondary;

		ion-select {
			div[class=select-text] {
				color: $primary !important;
			}
		}

		.text-input[disabled] {
			opacity: 1 !important;
			color: $primary !important;
			background-color: transparent !important;
		}
	}

	// Read-only Ion-Items usually in Forms
	.read-only {
		ion-item.item-input[round] {
			display: inline-block;
			border: 1px $light !important;
			background-color: $light !important;
		}
	}

	// Radio Buttons
	ion-list[role="radiogroup"]{
		display: inline-block;
		ion-item{
			border-bottom: 0 !important;
			border-top: 0 !important;
			background-color: transparent !important;

			.item-inner {
				border: none !important;
				direction: rtl;
			}

			.input-wrapper{
				direction: ltr;
				ion-label{
					white-space: normal;
					font-size: 14px;
				}
			}
			ion-radio{
				margin-left: 2px !important;
				.radio-icon{
					background-color: $secondary;
					border: 1px solid $primary-light;
					border-radius: 50%;
					height: 21px;
					width: 21px;
					&.radio-checked .radio-inner{
						border-radius: 50% !important;
						height: 15px !important;
						width: 15px !important;
						left: 12%;
						top: 11%;
						background-color: $primary;
						border-width: 0px !important;
						-webkit-transform: none !important;
						transform: none !important;
					}
				}
			}
			&.item-ios .input-wrapper{
				margin-left: 10px !important;
			}
		}
		.item-radio-checked.item-ios ion-label{
			color: black !important;
		}

	}

    .error-message{
    	margin: 5%;
    	text-align: left;
    	color: $danger;
    }
}

.control-bar{
	ion-row{
		background-color: $primary;
		button{
			color: $accent;
		}

		
	}
    &.minimize{
        ion-row{
            transition: 3s;
            position: fixed;
            z-index: 1;
            width: 100%;
            /* top: 0; */
            top: 44px;
        }
    }
}
