// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@media all and (min-device-width: 768px){
	ion-col[width-md-0]{
		display: none;		
	}
	ion-col[width-md-10]{
		flex: 10% !important;
	}
	ion-col[width-md-20]{
		flex: 20% !important;
	}
	ion-col[width-md-25]{
		flex: 25% !important;
	}
	ion-col[width-md-33]{
		flex: 33% !important;
	}
	ion-col[width-md-50]{
		flex: 50% !important;
	}
	ion-col[width-md-67]{
		flex: 67% !important;
	}
	ion-col[width-md-75]{
		flex: 75% !important;
	}
	ion-col[width-md-80]{
		flex: 80% !important;
	}
	ion-col[width-md-90]{
		flex: 90% !important;
	}
	ion-col[width-md-100]{
		flex: 100% !important;
	}
}
