<ion-header>
    <ion-navbar color="secondary">
        <ion-buttons start>
            <button ion-button icon-only navPop><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
        <ion-title>
            Search User
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content #Content padding>
    <form [formGroup]="searchForm" #form="ngForm" #form="ngForm" (ngSubmit)="xhr.submit($event)">
        <ion-grid>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-4>
                    <ion-label class="form-label">Username</ion-label>
                    <ion-item round>
                        <ion-input name="username" formControlName="username"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-4>
                    <ion-label class="form-label">Last Name</ion-label>
                    <ion-item round>
                        <ion-input name="lastname" formControlName="lastname"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-4>
                    <ion-label class="form-label">First Name</ion-label>
                    <ion-item round>
                        <ion-input name="firstname" formControlName="firstname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div text-center>
            <xhr-button #xhr round large color="accent" type="submit" (xhrClick)="search($event)">
                Search
            </xhr-button>
        </div>
    </form>
    <div class="user-list">
        <div *ngIf="users && users.length === 0">User(s) not found</div>
        <ion-card *ngFor="let user of users" (click)="selectUser(user)">
            <ion-item>
                <ion-avatar item-left>
                    <!--<img src="{{ user.img }}">-->
                    <div>
                        {{ getDefaultAvatar(user) }}
                    </div>
                </ion-avatar>
                <p>Name: {{ user.lastname ? getFullName(user) : 'Unregistered'}}</p>
                <p>Email: {{ user.email }}</p>
                <p>Contact No: {{ displayContacts(user.userContacts) }}</p>
            </ion-item>
        </ion-card>
    </div>
</ion-content>