<ion-header>
    <ion-navbar color="secondary">
        <ion-buttons start>
            <button ion-button icon-only navPop><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
        <ion-title>
            {{ pageHeader }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content #Content padding>
    <form [formGroup]="searchForm" #form="ngForm" #form="ngForm" (ngSubmit)="xhr.submit($event)">
        <ion-grid>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-6>
                    <ion-label class="form-label">Search By* :</ion-label>
                    <ion-item clean>
                        <ion-select class="options" name="criteria" formControlName="criteria" (ionChange)="selectCriteria($event)">
                            <ion-option *ngFor="let ct of criteriaTypes;let i = index" [value]="i">{{ ct }}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div class="error-message" *ngIf="criteria.dirty &&  criteria.invalid">
                        {{ errors.criteria }}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-4>
                    <ion-label class="form-label">Username<span *ngIf="selectedCriteriaType === 0">*</span> :</ion-label>
                    <ion-item round>
                        <ion-input name="username" formControlName="username" [disabled]="selectedCriteriaType !== 0"></ion-input>
                    </ion-item>
                    <div class="error-message" *ngIf="username.dirty &&  username.invalid">
                        {{ errors.username }}
                    </div>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-4>
                    <ion-label class="form-label">Last Name<span *ngIf="selectedCriteriaType === 1">*</span> :</ion-label>
                    <ion-item round>
                        <ion-input name="lastname" formControlName="lastname" [disabled]="selectedCriteriaType !== 1"></ion-input>
                    </ion-item>
                    <div class="error-message" *ngIf="lastname.dirty &&  lastname.invalid">
                        {{ errors.lastname }}
                    </div>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-4>
                    <ion-label class="form-label">First Name<span *ngIf="selectedCriteriaType === 2">*</span> :</ion-label>
                    <ion-item round>
                        <ion-input name="firstname" formControlName="firstname" [disabled]="selectedCriteriaType !== 2"></ion-input>
                    </ion-item>
                    <div class="error-message" *ngIf="firstname.dirty &&  firstname.invalid">
                        {{ errors.firstname }}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div text-center>
            <xhr-button #xhr round large color="accent" type="submit" (xhrClick)="search($event)">
                Search
            </xhr-button>
        </div>
    </form>
    <div class="user-list">
        <div class="speil" *ngIf="haveSearched && users && users.length === 0">User(s) not found</div>
        <ion-card *ngFor="let user of users" (click)="selectUser(user)">
            <ion-item>
                <ion-avatar item-left>
                    <!--<img src="{{ user.img }}">-->
                    <div>
                        {{ getDefaultAvatar(user) }}
                    </div>
                </ion-avatar>
                <p>Name: {{ getFullName(user) }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Contact No: {{ displayContacts(user.userContacts) }}</p>
            </ion-item>
        </ion-card>

        <ion-infinite-scroll (ionInfinite)="doInfiniteSearch($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>