<ion-header>
	<ion-toolbar color="secondary">
		<ion-buttons start>
			<button ion-button icon-only clear navPop><ion-icon name="close"></ion-icon></button>
		</ion-buttons>
		<ion-title>
			Add Queue
		</ion-title>
		<ion-buttons end>
			<button ion-button clear (click)="save()">SAVE</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<h2>{{lastName}}, {{firstName}} {{middleName}}</h2>
	<form [formGroup]="queueForm" #form="ngForm" (ngSubmit)="save()">
		<ion-label>Queued for:</ion-label>
		<ion-grid>
			<ion-row>
				<ion-col col-12 col-sm-12 col-md-12>
					<ion-list no-lines>
						<ion-item>
							<ion-label>Assistant</ion-label>
							<ion-checkbox color="accent" formControlName="forAsst"></ion-checkbox>
						</ion-item>
						<ion-item>
							<ion-label>Doctor</ion-label>
							<ion-checkbox color="accent" formControlName="forDoctor"></ion-checkbox>
						</ion-item>
					</ion-list>
				</ion-col>
				<ion-col  col-12 col-sm-12 col-md-12>
					<ion-item>
						<ion-label>Doctor</ion-label>
						<ion-select placeholder="Choose your Doctor" formControlName="doctorRequested" [disabled]="!forDoctor.value">
							<ion-option value="0">Any</ion-option>
						</ion-select>
					</ion-item>
				</ion-col>
			</ion-row>	
			<ion-row>
				<ion-col>
					{{errors.for}}
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-label>Queued on:</ion-label>
		<ion-grid>
			<ion-row>
				<ion-col col-12 col-sm-12 col-md-12>
					<ion-list radio-group formControlName="isServeNow">
						<ion-item>
							<ion-label>Now</ion-label>
							<ion-radio class="form-control" [value]="true" checked color="accent"></ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>Scheduled</ion-label>
							<ion-radio class="form-control" [value]="false"
							 color="accent"></ion-radio>
						</ion-item>
					</ion-list>
				</ion-col>
			</ion-row>

			<ion-row class="schedule-form">
				<ion-col col-12 col-sm-6 col-md-6>
					<div>
						<!-- <ion-label>Date :</ion-label> -->
						<ion-datetime displayFormat="MMMM DD YYYY" formControlName="schedule" [disabled]="isServeNow.value" [min]="getMinDate()" placeholder="Date">
						</ion-datetime>
					</div>
				</ion-col>
				<ion-col col-12 col-sm-6 col-md-6>
					<div>
						<!-- <ion-label>Time :</ion-label> -->
						<ion-datetime pickerFormat="hh:mm A" formControlName="timeSlot" [disabled]="isServeNow.value" placeholder="Time">
						</ion-datetime>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>