<ion-content>
	<div class="frame">
		<ion-row *ngIf="!image">
			<ion-col width-50>
				<button ion-button clear (click)="openCamera()">
					<ion-icon name="camera"></ion-icon>
					From Camera
				</button>
			</ion-col>
			<ion-col width-50>
				<button ion-button clear (click)="openAlbum()">
					<ion-icon name="images"></ion-icon>
					From Album
				</button>

			</ion-col>
		</ion-row>
		<img [src]="image" *ngIf="image">
	</div>
	<button ion-button round large color="danger">Clear</button>
	<button ion-button round large color="accent">Submit</button>
</ion-content>