schedule-page{
	ion-header{
		background: $primary;
		ion-item{	
		ion-avatar>img{
				height: 90px !important;
				width: 90px !important;
				margin-right: 10px;
			}
		}

		ion-col{
			border: solid 0.55px $primary-light;
			border-top: 0px;
			border-left: 0px;
			&:last-child{
				border-right: 0px;
			}
			.button{
				color: $accent;
			}
		}
	}
	ion-content{
		ion-list{
			button[ion-item]{
				background-color: $secondary-light;
			}
		}
	}
}