schedule-page{
	ion-header{
		background: $primary;
		

	}
	ion-content{
		position: relative;
		.serving{
			background-color: $primary;
		}

		ion-item{	
			ion-avatar{
				img{
					height: 90px !important;
					width: 90px !important;
					margin-right: 10px;
				}
				div{
				    background-color: $accent-light;
				    border-radius: 50%;
				    height: 90px;
				    width: 90px;
				    display: table-cell;
				    text-align: center;
				    vertical-align: middle;
				    font-size: 50px;
				}
			}
		}

		ion-list ion-item{
			ion-avatar{
				div{
				    background-color: $accent-light;
				    border-radius: 50%;
				    height: 45px;
				    width: 45px;
				    display: table-cell;
				    text-align: center;
				    vertical-align: middle;
				    font-size: 24px;
				}
			}
			
		}

		ion-list{
			&.padWhenMinimize{
				padding-top: 52.1px;
			}
			button[ion-item]{
				background-color: $secondary-light;
			}
		}
	}
	.control-bar{
		ion-row {
	        background-color: $primary;
	        button {
	            color: $accent;
	        }
	    }
		z-index: 99999;
		position: sticky;
		top:0;
	}
}