<ion-content #Content padding>
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" noValidate>
        <ion-list>
            <div class="row form-group">
                <ion-label class="form-label h1">Password</ion-label>
                <ion-item round>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div class="error-message" *ngIf="changePasswordForm.get('password').invalid">
                    {{ errors.password }}
                </div>
                <ion-label class="form-label h1">Re-Type Password</ion-label>
                <ion-item round>
                    <ion-input type="password" formControlName="confirm"></ion-input>
                </ion-item>
                <div class="error-message" *ngIf="changePasswordForm.get('confirm').invalid">
                    {{ errors.confirm }}
                </div>
            </div>
        </ion-list>
        <div class="form-buttons">
            <button ion-button round large color="accent" [disabled]="changePasswordForm.invalid"> Change Password </button>
        </div>
    </form>
</ion-content>