<form [formGroup]="changePasswordForm" #form="ngForm" (ngSubmit)="xhr.submit($event)">
    <ion-list>
        <ion-label class="form-label">Old Password* :</ion-label>
        <ion-item round>
            <ion-input type="password" formControlName="oldPassword"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="oldPassword.invalid">
            {{ errors.oldPassword }}
        </div>
        <ion-label class="form-label">Password* :</ion-label>
        <ion-item round>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="password.invalid">
            {{ errors.password }}
        </div>
        <ion-label class="form-label">Re-Type Password* :</ion-label>
        <ion-item round>
            <ion-input type="password" formControlName="confirm"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="confirm.invalid">
            {{ errors.confirm }}
        </div>
    </ion-list>
    <div text-center>
        <xhr-button #xhr round large color="accent" [disabled]="changePasswordForm.pristine || form.pristine" (xhrClick)="submitForm(xhr)">
            Change Password
        </xhr-button>
    </div>
</form>