<ion-card>
	<ion-card-header>
		<ion-label no-padding no-margin>
		<ion-icon name = "list-box"></ion-icon>
		Message Board
		</ion-label>
	</ion-card-header>
	<ion-card-content>
		<ion-list no-lines>
			<ion-item  ion-item *ngFor="let item of notificationList; let idx = index" (swipe)="remove(idx)">
				<h3>{{item.body}}</h3>
				<p text-right>{{item.time | date:"longDate"}}</p>
			</ion-item>
		</ion-list>
	</ion-card-content>
	<div text-right>
		<button ion-button clear small color="accent">+Add Reminder</button>
	</div>
</ion-card>