<div class="row accordion" (click)="open=!open">
    <div class="header" [ngClass]="{'open-header': open}">
        <div class="title" [ngClass]="{'open-title': open}">
            <h2><b>{{ header }}</b></h2>
            <p>{{ subHeader }}</p>
        </div>
        <div>
            <ion-icon name="ios-arrow-down" class="accordion-toggle" [hidden]="open"></ion-icon>
            <ion-icon name="ios-arrow-up" class="accordion-toggle" [hidden]="!open"></ion-icon>
        </div>
    </div>
</div>
<div class="row accordion-content" [hidden]="!open">
    <ng-content></ng-content>
</div>