<div class="row accordion" (click)="open=!open">
    <div class="header" [ngClass]="{'open-header': open}">
        <div class="title" [ngClass]="{'open-title': open}">
            <p><b>{{ header }}</b></p>
            <p>{{ subHeader }}</p>
        </div>
        <div>
            <ion-label class="accordion-toggle" color="accent-dark" [hidden]="open">+</ion-label>
            <ion-label class="accordion-toggle" color="accent-dark" [hidden]="!open">-</ion-label>
        </div>
    </div>
</div>
<div class="row accordion-content" [hidden]="!open">
    <ng-content></ng-content>
</div>