clinic-manager-page {
        
    .actions-container {
        margin-top: 20px;
    }

    ul {
        margin: 0;
    }

    li {
        word-wrap: break-word;
    }

    a {
		color: $accent-dark;
	}
}