clinic-manager-page {
    .options {
        font-size: $h1;
    }

    .actions-container {
        margin-top: 20px;
    }

    ul {
        margin: 0;
    }

    li {
        word-wrap: break-word;
    }
}