schedule-history {
    .sub-header {
        display: table-row;
        button,
        ion-datetime {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .time-container {
        text-align: right;
    }
    ion-content {
        margin-top: 10px;
    }
    h2.customer-name {
        white-space: normal;
    }
    .sub-header>button {
        z-index: 99999;
    }
}